  .members {
    display: flex;
    justify-content: center;
  }

  .images {
    display: flex;
    justify-content: center;
  }
  
  .images img:hover {
    cursor: pointer;
    filter: brightness(60%);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  